<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="model" value="text-davinci-001" />
        <!--
            text-davinci-003
            text-davinci-002
            text-davinci-001
            text-curie-001
            text-babbage-001
            text-ada-001
        -->
        <add key="apiToken" value="" />
        <!-- API KEY -->
    </appSettings>
</configuration>
